{% extends 'base.html.twig' %}

{% block title %}Modification de la ville et du code postal{% endblock %}

{% block body %}

<h1 style="text-align: center">Ville</h1>

{{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary text-uppercase btn-block">Modifier</button>
{{ form_end(form) }}

{% endblock %}